// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$blue:#07004D;
$blue-light:#2D82B7;
$green:#42e2b8;
$yellow:#F3DFBF;
$pink: #EB8A90
