.personnal-information-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .my-friends {
      display: inline-block;
      align-items: center;
  }

}

.my-friends-my-friends-bookings {
    margin-right: 20px;
}

.lists-bookings {
    display: inline-block;
}


.history-bookings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

ul {
    list-style: none;
}