<div class="banner" style="background: url(<%= image_url('banner.jpg') %>);">
  <div class="baseline">
    <h2>A friend <br> next to you</h2>
    <button class="hero-button"><%= link_to "Find a friend", friends_path %></button>
  </div>
</div>
