<div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">
    <div data-aos="flip-left">
      <div class="card">
            <i class="fas fa-lemon homepage-card"></i>
            <h4>Simple</h4>
            <p>Find a friend easily</p>
          </div>
    </div>

    <div div data-aos="flip-left">
      <div class="card">
        <i class="fas fa-glass-cheers homepage-card"></i>
        <h4>Amusing</h4>
        <p>Share a good laugh</p>
      </div>
    </div>

    <div div data-aos="flip-left">
      <div class="card">
        <i class="fas fa-american-sign-language-interpreting homepage-card"></i>
        <h4>Surprising</h4>
        <p>Have a good time</p>
      </div>
    </div>
  </div>
  </div>
