<div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1610308479130-5141d71ba6e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1494&q=80" alt="men thumbs up">
        <h4>Simple</h4>
        <p>Find a friend easily.</p>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1604488912264-dfed70450d76?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1590&q=80" alt="thumbs up">
        <h4>Simple</h4>
        <p>Find a friend easily.</p>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1558470676-36712b8882ec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="thumbs up men">
        <h4>Simple</h4>
        <p>Find a friend easily.</p>
      </div>
    </div>
  </div>
