<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <%= render 'shared/banner' %>
      <%= render 'shared/cards-HP'%>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
