<div>
  <div class="banner">
    <h2>Lorem Ipsum</h2>
    <a class="hero-button" href="#">Find a friend</a>
  </div>
  <div class="friends-wrapper">
    <div class="friend-card">
      <div class="top">
        <img src="" alt="">
        <p>lorem ipsum</p>
      </div>
      <div class="bottom">
        <div class="rating-price">
          <p>10.00$</p>
          <p>shape</p><p>shape</p><p>shape</p>
        </div>
        <div class="tags">
          <p>#juggler</p><p>#actor</p>
        </div>
      </div>
    </div>
  </div>
</div>