<div>
  <div class="banner">
    <h2>Lorem Ipsum</h2>
    <a class="hero-button" href="#">Find a friend</a>
  </div>
  <div class="friends-wrapper">
    <div class="friend-card">
       <div class="top">
          <img src="" alt="">
          <p></p>
       </div>
       <div class="bottom">
       </div>
    </div>
  </div>
</div>