.banner {
    display: flex;
    align-items: center;
    background: url("banner.jpg");
    background-size: cover;
    padding: 200px 0px 200px 75px;
    border-radius: 20px;
    height: 450px;
}

.baseline h2 {
  margin-bottom: 35px;
  border-radius: 15px;
  color: white;
  font-size: 60px;
  text-shadow: 0 0 5px black;
}

.hero-button {
  background-color: #2D82B7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 164px;
  border-radius: 5px;
}

.hero-button:hover {
  text-decoration: none;
  color: white;
}
