.banner {
    background: url("https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px 200px 50px
}

.banner h2 {
    font-size: 50px;
    text-shadow: 0 0 20px black;
}

.hero-button {
    background: rgba(0, 199, 0, 0.589);
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 20px black;
    &:hover {
        background: rgb(0, 199, 0);
        text-decoration: none;
        color: white;
    }
}