@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&family=Yeseva+One&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 0 120px;
  margin-top: 20px;
}

h3 {
  font-family: 'Yeseva One', cursive;
  margin-bottom: 25px;
}

.card-friend {
  box-shadow: 0 0 15px rgb(230, 230, 230);
  border-radius: 3px;
  position: relative;
  transition: all .2s ease-in-out;
}

.card-friend:hover {
  transform: scale(1.1);
}

a:hover, p {
  text-decoration: none;
}

.card-friend-img {
  background-color: #2E6FA5;
  padding: 50px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-friend-avatar {
  border: solid 5px #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  right: 100px;
  top: 22px;
}

.card-friend-body {
  text-align: center;
  padding: 110px 10px 30px 10px;

}

.card-friend-description {
  margin-bottom: 40px;
  text-align: left;
  padding: 0 50px;
}

.btn-book p {
  background-color: #FF2787;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-decoration: none;
  padding: 10px 45px;
  border-radius: 20px;
  display: inline;
}

.fas {
  color: #FF2787;
  margin-right: 15px;
}

@media(max-width: 1200px) {
  .card-friend-avatar {
    right: 65px;
  }
}

@media(max-width: 992px) {
  .card-friend-avatar {
    right: 95px;
  }
}

@media(max-width: 768px) {
  .card-friend-avatar {
    right: 180px;
  }
}

@media(max-width: 576px) {
  .card-friend-avatar {
    right: 88px;
  }
}

