.friend-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    padding: 10px;
}

.top {
    display: flex;
}

.pic {
    width: 100vw;
    height: 100vh;
}

.bottom {
    display: flex;
}