.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-user-friends {
  font-size: 30px;

}

.logo {
  display: flex;
  justify-content: center;
}

#text {
  padding-left: 10px;
  padding-top: 3px;
}


