.booking-request-card {
  box-shadow: 0 0 15px rgb(230, 230, 230);
  border-radius: 3px;
  padding: 25px 25px;
  margin-bottom: 10px;
}

.fa-check-circle {
  color: #2ec579 !important;
  font-size: 30px;
  &:hover {
    opacity: 0.5;
  }
}

.fa-times-circle {
  color: #f75858;
  font-size: 30px;
  &:hover {
    opacity: 0.5;
  }
}

.fa-undo-alt {
  color: #000000a6 !important;
  font-size: 25px;
  &:hover {
    opacity: 0.5;
  }
}

.fa-archive {
  color: #000000a6 !important;
  font-size: 25px;
  &:hover {
    opacity: 0.5;
  }
}

.pending p {
  background-color: #eaa031;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline;
}

.accepted p {
  background-color: #2ec579;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline;
}

.denied p {
  background-color: #f75858;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline;
}
