.renter-booking-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #B0B0B0;
  border-radius: 6px !important;
  padding: 14px 24px;
  margin: 15px 0px;
  cursor: pointer;
  border-radius: 50%;
}

.booking-date {
  display: flex;
  justify-content: space-between;
}

.start-date {
  margin-right: 5px;
}

.end-date {
  margin-left: 5px;
}

.renter-booking-buttons {
  display: flex;
  justify-content: center;
}

.renter-status-pending {
  margin-right: 5px;
  span {
    color: orange;
  }
  
}

.renter-booking-button-deny {
  margin-left: 5px;

}

.renter-booking-info-header {
  display: flex;
  justify-content: center;
}

.renter-booking-card-img {
  border-right: 1px solid #B0B0B0;
  img {
    margin-right: 28px;
  }
}

.renter-booking-owner {
  display: flex;
  align-items: center;
  p {
    margin-right: 5px;
  }
}